@import url('https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap');

 * {
    font-family: 'Reem Kufi', sans-serif;
}

* :focus {
    outline: none;
}

html, body {
    max-width: 100%;
    overflow: hidden;
    height: 100%;
}

div#layout {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f9fafc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div#headder {
    width: 70px;
    height: 100%;
    background-color: #484f61;
    color: #ffffff;
    z-index: 2;
}

div#name {
    height: fit-content;
    font-size: 18px;
    position: absolute;
    right: 80px;
    margin: auto;
    top: calc(70px - 100%);
    bottom: 0;
    cursor: context-menu;
    display: none;
}

div#avatar {
    height: 35px;
    width: 35px;
    background-color: #0000002b;
    border-radius: 100px;
    padding: 5px;
    position: relative;
    top: 40px;
    bottom: 0;
    margin: auto;
    left: 0;
    cursor: pointer;
}

div#avatar_txt {
    position: absolute;
    top: 5px;
    bottom: 0;
    height: fit-content;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
}

div#chat_list {
    height: 100%;
    width: 375px;
    background-color: #f3f6fb;
    position: absolute;
    top: 0;
    left: 70px;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
}

div#chats {
    font-size: 25px;
    padding: 25px;
}
/* 
input#message {
    border: none;
    padding: 10px;
    border-radius: 100px;
    padding-left: 20px;
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 10px;
    box-shadow: 0px 0px 100px #0000004f;
}

button#send_message {
    border: none;
    padding: 5px;
    width: calc(10% - 10px);
    border-radius: 100px;
    color: white;
    background-color: #506ac1;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
} */

div#dropdown {
    position: absolute;
    background-color: white;
    height: calc(100% - 110px);
    width: 250px;
    border: none;
    padding: 20px;
    right: -300px;
    top: 70px;
    z-index: 1;
    box-shadow: -9px 0px 20px #0000000a;
    transition: 1s;
}

/* div#dropdown::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    background: black;
    border: 10px solid white;
    border-top: 10px #4358a0;
    border-left: 10px solid #506ac1;
    border-right: 10px solid #506ac1;
    top: -7px;
    right: 20px;
}

div#dropdown::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    background: black;
    border: 10px solid white;
    border-top: 10px #4358a0;
    border-left: 10px solid #506ac1;
    border-right: 10px solid #506ac1;
    top: -7px;
    right: 20px;
} */

.dpdn-div {
    color: black;
    text-decoration: none;
    background: white;
    position: relative;
    left: 10px;
    right: 10px;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 250px;
    top: 15px;
    width: fit-content;
    margin: auto;
    transition: 0.4s;
}

.dpdn-div:hover {
    color: black;
    text-decoration: none;
    background: #f5f5f5;
    position: relative;
    left: 10px;
    right: 10px;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 250px;
    top: 15px;
    width: fit-content;
    margin: auto;
}

a.dpdn-link {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

div#message {
    position: relative;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f1f2f6;
    width: fit-content;
    margin: 10px;
    z-index: 1;
}

div#your-message {
    position: relative;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #7ac2fb;
    width: fit-content;
    margin: 10px;
    color: #ffffff;
}

.search-add-container {
    height: fit-content;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    top: 30px;
}

input#chat-search {
    border: none;
    background-color: #e9ecf1;
    height: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 80px;
    width: 150px;
    transition: 0.4s;    
}

input#chat-search:focus {
    outline: none;
    background-color: #e6e7ec;
    width: 190px;
    margin-right: 40px;
}

input#chat-search:active > .add-btn {
    background-color: #e6e7ec !important;
}

.add-btn {
    height: 40px;
    width: 40px;
    background-color: #e9ecf1;
    position: absolute;
    top: 0;
    right: 0;
}

img.side-btn {
    color: white;
    width: 25px;
    position: relative;
    left: 0;
    right: 0;
    margin: calc(100% - 0.9px);
    cursor: pointer;
}

.buttons {
    height: calc(100% - 145px);
    position: absolute;
    bottom: 0;
    width: min-content;
}

div#chatRoom {
    position: absolute;
    height: calc(100% - 130px);
    width: calc(100% - 445px);
    left: 445px;
    overflow-x: hidden;
    overflow-y: auto;
    top: 80px;
}

input#message {
    border: none;
    background-color: #f2f3f7;
    position: fixed;
    bottom: 0;
    height: 30px;
    padding: 10px;
    padding-left: 20px;
    transition: 0.4s;
    width: calc(100% - 20px);
    z-index: 1;
}

button#send_message {
    border: none;
    background: transparent;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    transition: 0.4s;
    z-index: 1;
}

img.send-arrow {
    height: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

input#message:focus {
    outline: none;
    background-color: #e6e7ec;
}

img.search-icon {
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

div#chat-list {
    position: absolute;
    top: 110px;
    width: 100%;
}

div#uli {
    width: calc(100% - 40px);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    cursor: pointer;
    transition: 0.4s;
}

div#avatar-t {
    height: 35px;
    width: 35px;
    background-color: #0000002b;
    border-radius: 100px;
    padding: 5px;
    position: relative;
    cursor: pointer;
    top: -25px;
}

.t {
    position: relative;
    left: 60px;
    top: 3px;
}

.c-txt {
    position: relative;
    top: -45px;
    color: grey;
    left: 60px;
    font-size: 13px;
}

.c-date {
    position: relative;
    top: -69px;
    color: grey;
    right: calc(-100% - -28px);
    font-size: 13px;
    width: fit-content;
}

div#activeUserHead {
    position: absolute;
    top: 0;
    left: 445px;
    height: 70px;
    width: calc(100% - 445px);
    z-index: 2;
    background-color: #f9fafc;
    box-shadow: 0px 3px 25px #0000001c;
}

div#uli:hover {
    background-color: #e5e9ef;
}

.active-headder-name-text {
    position: absolute;
    top: -10px;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 80px;
}

div#avatar-a {
    height: 35px;
    width: 35px;
    background-color: #0000002b;
    border-radius: 100px;
    padding: 5px;
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
}

.active-headder-status-text {
    position: absolute;
    width: fit-content;
    height: fit-content;
    font-size: 13px;
    left: 80px;
    top: 38px;
    color: grey;
}

img#logout_btn {
    height: 15px;
    position: absolute;
    margin: auto;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div#logout_btn_background {
    height: 45px;
    width: 45px;
    background-color: transparent;
    border-radius: 100px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    margin: auto;
    cursor: pointer;
    left: 0;
    right: calc(100% - 70px);
    transition: 0.4s;
}

div#logout_btn_background:hover {
    background-color: #3c4251;
}

div#emojis {
    width: fit-content;
    height: 300px;
    background: white;
    overflow: auto;
    margin-top: 100px;
    transition: 0.4s;
}

.emojis-container {
    position: fixed;
    width: fit-content;
    height: 400px;
    background: white;
    bottom: 60px;
    right: 10px;
    box-shadow: 0 0 20px #0000001a;
    display: none;
}

td#e-cell {
    padding: 7px;
    cursor: pointer;
    width: 22.386px;
    height: 24.204px;
}

td#e-cell:hover {
    background: #f3f6fb;
}

.emojitext {
    position: absolute;
    width: 100%;
    height: calc(100% - 300px);
    background-color: #f1f2f6;
}

.e-t {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
}

img.close-icon {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 30px;
    right: 20px;
    cursor: pointer;
}

img.open-emoji {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.emoji-btn {
    height: 50px;
    width: 50px;
    position: fixed;
    z-index: 2;
    bottom: 0;
    transition: 0.4s;
    right: 50px;
    cursor: pointer;
}

button#send_message:hover {
    background-color: #cacdd1;
}

.emoji-btn:hover {
    background-color: #cacdd1;
}

div#e_nav_bar {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50px;
}

img.all_img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

img.recent-img {
    height: 23px;
    width: 23px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

div#recent {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 0;
    left: 0;
    top: 0;
    transition: 0.4s;
    cursor: pointer;
}

div#all {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    bottom: 0;
    left: 50px;
    transition: 0.4s;
    cursor: pointer;
}

div#recent:hover > .ab1 {
    /* background-color: #e6e7ec; */
    width: 80%;
}

div#all:hover > .ab2 {
    /* background-color: #e6e7ec; */
    width: 80%;
}

.active-bar {
    position: absolute;
    height: 5px;
    width: 0;
    background-color: #0d47a1;
    bottom: 0;
    transition: 0.4s;
    left: 0;
    right: 0;
    margin: auto;
}

.active {
    width: 80%;
}

table#recents {
    width: 100%;
    position: absolute;
    height: 300px;
    background: white;
    overflow: auto;
    margin-top: 100px;
    transition: 0.4s;
    top: 0;
    opacity: 0;
    z-index: -1;
}
/* 
table#recents {
    position: absolute;
    top: 0;
    margin-top: 100px;
} */